﻿
          .topimage {
            background: #1F2C34 url(header.png) no-repeat;
            background-size: 100% 100%;
        }


        #image {
            position: absolute;
            left: 0;
            top: 0;
        }


        .image .text {
            position: relative;
            top: 20px;
            left: 500px;
            width: 300px;
            color: white;
            text-align: center;
        }

        #text {
            top: 150px;
            color: white;
            font-size: 24px;
            font-weight: bold;
            z-index: 100;
            top: 200px;
        }

        #txt1 {
            z-index: 100;
            left: 10px;
            top: 180px;
        }

        #date {
            z-index: 100;
            position: absolute;
            color: white;
            font-size: 24px;
            font-weight: bold;
            left: 100px;
            top: 70px;
        }

        .circular {
            width: 65px;
            height: 65px;
            border-radius: 75px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            background: url(flowers.jpg) no-repeat;
        }

        .footerimage {
            width: 75px;
            height: 75px;
            border-radius: 75px;
            -webkit-border-radius: 150px;
            -moz-border-radius: 150px;
            background: url(logo_96x96.png) no-repeat;
        }


        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            background-image: url("background.png");
        }

        #container {
            min-height: 100%;
        }

        #header {
            background: #ff0;
            padding: 10px;
        }

        #body {
            padding: 0px;
            padding-bottom: 60px; /* Height of the footer */
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Height of the footer */
            background: #FFFFFF;
        }




        #BtnAround {
            background-image: url('trace_symbol.png');
            width: 55px;
            height: 56px;
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        #BtnAddTravel {
            background-image: url('add_symbol.png');
            width: 55px;
            height: 55px;
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        #BtnFutureTravels {
            background-image: url('future_travels_symbol.png');
            width: 60px;
            height: 60px;
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }


        #BtnConfirm {
            background-color: white;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            font-size: large;
            color: #45AEA7;
            font-family: Avenir Next;
        }

        div.ui-datepicker {
            font-size: 10px;
        }

        #menu {
            display: none;
        }

        #btn {
            background-color: white;
        }



 