﻿        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-image: url("../img/background.png");
        }
	
		p {
			font-family: Arial; 
		}
        #container {
            min-height: 100%;
            position: relative;
        }

        #header {
            background: #ff0;
            padding: 10px;
        }

        #body {
            padding: 0px;
            padding-bottom: 60px; /* Height of the footer */
        }

       #BtnConnect {
            background-color: white;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            font-size: large;
			color: #45AEA7;
            font-family: Avenir Next;
        }

        #btn1, #btn2 {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            color: #000000;
        }

        td {
            text-align: center;
        }

         #connect {
            background-color: #FFFFFF;
        }