﻿ #ResetText {
            font-weight: 300;
        }


        #BtnCancel {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            font-size: large;
            color: white;
            font-family: Avenir Next;
        }

         #BtnReset {
            background-color: white;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
			width: 100%;
            overflow: hidden;
            outline: none;
            font-size: large;
            color: #45AEA7;
            font-family: Avenir Next;
        }