﻿  #SignText {
            font-weight: 300;
        }

        #BtnCancel {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            font-size: 13px;
            color: white;
            font-family: Arial;
        }

        #BtnCreate, #BtnPic {
            background-color: white;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
			width: 100%;
			height: 35px;
            outline: none;
            font-size: large;
            color: #45AEA7;
            font-family: Arial;
        }
		
		.txtboxClass {
		width: 100%; 
		height: 30px; 
		font-family: Arial; 
		font-weight: bold; 
		border-style: none; 
		background-color: rgba(0,0,0,0);
		}
		
        body {
            background-image: url("../img/settings_background.png");
        }

        .details table, .details th, .details td {
            border: none;
        }

        #disclaimer {
            background-color: rgba(0,0,0,0);
        }

        #btn {
            background-color: white;
        }