﻿ #SignText {
            font-weight: bold;
			font-style: Arial;
			font-size: 25px;
        }

        #BtnCancel {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            font-size: 13px;
            color: white;
			font-weight: bold;
            font-family: Arial;
        }

        #BtnCreate {
            background-color: white;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
			height: 32px;
            outline: none;
            font-size: large;
            color: #45AEA7;
			font-weight: bold;
            font-family: Arial;
        }
		
		.txtboxClass {
		width: 100%; 
		height: 30px; 
		font-family: Arial; 
		font-weight: bold; 
		border-style: none; 
		background-color: rgba(0,0,0,0);
		}

        body {
            background-image: url("../img/background.png");
        }

         #btn {
            background-color: white;
        }

        .details table, .details th, .details td {
            border: none;
        }

        #disclaimer {
            background-color: #D8DCDC;
        }