﻿ body {
            background-image: url("../img/background.png");
        }


        table.tblinfo {
            border-collapse: collapse;
        }

		table.tblinfo tr {
			border: 10px solid #C4CAC9;
		}

        #disclaimer {
            background-color: #CCD1D1;
        }

        #btn1{
            background-color: white;
        }

		 #btn2, #btn3{
            background-color: rgba(0, 0, 0, 0);
        }
        #BtnSignIn {
            background-color: white;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            font-size: large;
            color: #45AEA7;
            font-family: Avenir Next;
        } 
		
		#btnForgotPwd, #BtnCreate
		{
            background-color: rgba(0, 0, 0, 0);
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            font-size: large;
            color: #45AEA7;
            font-family: Avenir Next;
        }
		
